/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
} 

body{
  font-size: 30px;
  color: #333;
  margin: 0 auto;
}
h2{
  padding: 10px 0;
  margin: 0;
}
ul,li{
  padding: 0;
  margin: 0;
}

.page-header{
  height: 100px;
  background-color:palegoldenrod;
  display: flex;
}
.title-contents{
  width: 40vw;  
}
.service-title{
  font-size: 50px;
  padding: 12px 35px;
}
.nav{
  width: 60vw;  
  padding: 25px;
}
.lists{
  font-size: 24px;
  display: flex;
  list-style: none;
}
.login,.sign-up,.logout{
  color: black;
  background-color: cadetblue;
  padding: 10px;
}
.li-count,.li-check,.li-index{
  color:black;
  background-color:olivedrab;
  padding: 10px;
}
a{
  display: block;
  border-radius: 50%; 
  padding: 10px;
  margin: 0 20px;
  text-decoration: none;
}

.enter-form{
  height: 500px;  
  padding-left: 10px;
}
.enter-text,.check-text{
  margin: 10px 0;
  width: 150px;
  text-decoration: underline solid black;
}

.handed-date,.check-date{
  height: 40px;
  width: 100px;
  font-size: 18px;
}
input[type="number"]{
  font-size: 30px;
  height: 40px;
}

.enter-btn,.check-btn{
  height: 40px;
  margin-top: 30px;
  padding: 0 134px;
  background-color:lightskyblue;
  font-size: 25px;
}
.explain-text{
  font-size: 20px;
  font-style: italic;
}
.enter-explain{
  text-decoration: underline lightskyblue;
}

.title{
  text-decoration: underline olivedrab;  
}
.index{
  border: solid olivedrab 1.5px;
}
.count-contents{
  display: flex;  
}
.check-contents{
  display: flex;
  margin-top: 20px;
  border-top: solid olivedrab 1.5px;
}
.list{
  list-style: none;
  margin-left: 15px;  
}
.unused-sum{
  background-color: coral;
}

.alert{
  margin-top: 20px;
  font-size: 25px;
  color: red;
}